/* BODY */
body {
    background-color: #d69d9d;
    font-family: 'Oswald', sans-serif;
}

/* GLOBALS */
.container {
    width:80%;
    margin:auto;
    overflow:hidden;
}
  
/* Header*/
/* Showcase */
showcase {
    padding: 0px;
}

/* Menu bar */
.menu {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
  
    .menu * {
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }
  
    .menu li {
        display: inline-block;
        list-style: outside none none;
        margin:  1.5em;
        overflow: hidden;
    }
  
    .menu a {
        padding: 0.3em 0;
        color: #0c0000;
        position: relative;
        display: inline-block;
        letter-spacing: 2px;
        margin: 0;
        text-decoration: none;
    }
  
    .menu a:before, .menu a:after {
        position: absolute;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }
  
    .menu a:before {
        bottom: 100%;
        display: block;
        height: 3px;
        width: 100%;
        content: "";
        background-color: #fd0e0e;
    }
  
    .menu a:after {
        padding: 0.3em 0;
        position: absolute;
        bottom: 100%;
        left: 0;
        content: attr(data-hover);
        color: #551d1d;
        white-space: nowrap;
    }
  
    .menu li:hover a, .menu .current a {
        transform: translateY(100%);
    }


/* FOOTER */
/* Newsletter */
#newsletter {
    padding: 10px;
    color:#cdd6f4;
    background: #610808a1;
}

    /* Float h1 left */
    #newsletter h1 {
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  
    /* Float form (email and button) right */
    #newsletter form {
        float: right;
        margin-top: 10px;
    }

    /* Change size and location of Email box */
    #newsletter input[type="email"] {
        padding: 4px;
        height: 25px;
        width: 250px;
        background-color: #cdd6f4;
        border: 0;
    }
  
/* Change Newsletter button */
.newsletter_button {
    height: 33px;
    background: #f38ba8;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #cdd6f4;
}


h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 60vw;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #ea0b0b;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: #ba5555;
    border: 1px solid #0a0a23;
    color: #ffffff;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: rgb(12, 1, 1);
    min-width: 300px;
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }
  