/* GLOBALS */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


/* BODY */
body {
    background-color: #d69d9d;
    /* text-align: center; */
}


/* Header*/
/* Menu bar */
/* Style en centreert de font */
#menu {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

/* Border */
#menu * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

/* Styling voor de List items (Home, Producten, Nieuws, Contact, Over ons) */
#menu li {
    display: inline-block;
    list-style: outside none none;
    margin: 1.5em;
    overflow: hidden;
}

/* Styling voor de Anchor tag (<a>) rondom de Hyperlinks */
#menu a {
    padding: 0.3em 0;
    color: #0c0000;
    position: relative;
    display: inline-block;
    letter-spacing: 2px;
    margin: 0;
    text-decoration: none;
}

/* Positie van de Anchor tag (<a>) rondom de Hyperlinks */
#menu a:before,
#menu a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

/* Styling voor de Anchor tag (<a>) rondom de Hyperlinks voor dat je er met een muis overheen hovert */
#menu a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #fd0e0e;
}

/* Styling voor de Anchor tag (<a>) rondom de Hyperlinks na dat je er met een muis overheen hovert */
#menu a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: #551d1d;
    white-space: nowrap;
}

/* Hover over de hyperlinks */
#menu li:hover a,
#menu .current a {
    transform: translateY(100%);
}

/* Navbar kleur */
.navbar {
    background-color: #d69d9d;
}

/* Margin onder de navbar */
.row {
    margin: 20px;
}

/*  */
#card-icon {
    color: #000000;
}


/* FOOTER */
/* Newsletter */
#newsletter {
    top: 100%;
    padding: 10px;
    color: #cdd6f4;
    background: #610808a1;
    min-height: 60px;
}

/* Float h1 left */
#newsletter h1 {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Float form (email and button) right */
#newsletter form {
    float: right;
    margin-top: 10px;
}

/* Change size and location of Email box */
#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
    background-color: #cdd6f4;
    border: 0;
}

/* Change Newsletter button */
.newsletter_button {
    height: 33px;
    background: #fd0e0e;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #cdd6f4;
}

/* Hangt de footer vast aan de bodem */
.footer {
    top: 100%;
    position: absolute;
}

/* Centreerd de tekst van de Copyright */
.copyright {
    text-align: center;
}