/* BODY */
body {
    background: #ff0000;
    background-image: linear-gradient(to top, #c9a7a7 60%, #f0e3e2 70%);

    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    height: 100vh;
}