.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ba5555;
}

.card img {
    max-width: 70%;
    height: auto;
    border: 5px solid rgba(255, 0, 0, 0.39);
  }

.card {
    text-align: center;
}
