/* BODY */
body {
    background: #ff0000;
    background-image: linear-gradient(to top, #c9a7a7 60%, #f0e3e2 70%);

    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    height: 100vh;
}
/* Waar staan wij voor */
.div1 {
    float: left;
    width: 800px;
    height: 472px;
    border: 5px solid rgba(255, 0, 0, 0.39);
    box-sizing: border-box;
  }
  /* Projecten */
  .div2 {
    display: inline-block;
    width: 1100px;
    height: 328px;  
    padding: 50px;
    border: 5px solid rgba(255, 0, 0, 0.39);
    box-sizing: border-box;
  }
  .div3 {
    display: inline-block;
    width: 1100px;
    height: 120px;  
    padding: 50px;
    border: 5px solid rgba(255, 0, 0, 0.39);
    box-sizing: border-box;
  }