p {
    text-align: center;
}
.col {
    background-color: #d69d9d;
    margin-inline: 25px;
    margin-bottom: 50px;
    padding: 0px;
}

.img_news {
    width: 400px;
    margin: 0px;
    padding: 0px;
}
.bold {
    font-weight: bold;
}

