.section img {
    height: 50%;
    width: 50%;
}


.section p {
    color: black;
    text-align: center;
}



.h2 {
    text-align: right;
    text-shadow: #955958;
    margin: 0px;
    padding-left: 80px;
    
}
.copyright {
    text-align: center;    
}

