/* iFrames */
#iFrame {
    margin-top: 5%;
    float: right;
    min-height: 550px;
    min-width: 1150px;
}

/* Buttons */
#huizing_button {

}

#moederbord_button {

}

#cpu_button {

}

#gpu_button {
    
}

#ram_button {
    
}

#werkgeheugen_button {
    
}

#koeling_button {
    
}

#voeding_button {
    
}

#monitoren_button {
    
}

#muizen_button {
    
}

#toetsenborden_button {
    
}