/* iFrames */
#iFrame {
    margin-top: 5%;
    float: right;
    min-height: 550px;
    min-width: 1150px;
}

/* Buttons */
#buttons {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 20%;
}

#huizing_button {
    background-color: #fd0e0e;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
}

#moederbord_button {
    background-color: #fd0e0e;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
}

#cpu_button {
    background-color: #fd0e0e;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
}

#gpu_button {
    background-color: #fd0e0e;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
}

#ram_button {
    background-color: #fd0e0e;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
}

#werkgeheugen_button {
    background-color: #fd0e0e;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
}

#koeling_button {
    background-color: #fd0e0e;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
}

#voeding_button {
    background-color: #fd0e0e;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
}