/* iFrames */
#iFrame {
    /* margin-top: 5%;
    float: right; */
    min-height: 550px;
    /* min-width: 1150px; */
}

/* Buttons */
#buttons {
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 20%;
}

.col button {
    background-color: #834747;
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: left;
    border-radius: 8px;
    min-width: 200px;
display: block;
margin: 5px 5px;
}

.myButton {
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #610808a1 5%, #f58d8da1 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

.myButton:hover {
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color: #f24437;
}

.myButton:active {
    position: relative;
    top: 1px;
}